@import "styles/variables.scss";

.icon_button {
    display: flex;
    border-radius: $default-border-radius;
    border: 0px;
    padding: 5px 15px;
    overflow-wrap: none;
    font-size: 15pt;
    background: var(--overlay_darken);
    cursor: pointer;
    text-decoration: none;
    position: relative;
    justify-items: center;
    gap: 4px;
    & .mdi {
        height: 1.1em;
    }
}