@import "styles/variables.scss";

.card {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: var(--overlay_lighten);
    border-radius: $default-border-radius;
    padding: 20px;
    margin: 10px;
    min-width: 40vw;
    min-height: 20vh;
    .description {
        margin: 10px 0px;
        height: 100%;
    }
    .actions {
        display: flex;
        flex-direction: row;
        gap: 6px;
    }
}