@import "./variables.scss";
.wrapper {
    padding: 0px 10vw 10px 10vw;
    > div {
        padding: 3px 10px 15px 10px;
        border-radius: $default-border-radius;
        background: var(--overlay_lighten);
    }
    img {
        max-height: 100%;
        max-width: 100%; 
    }
}