@import "./variables.scss";

:root {
  --background: #15202b;
  --text_col: #7f94a8;
  --overlay_lighten: rgba(255, 255, 255, 0.05);
  --overlay_darken: rgba(0, 0, 0, 0.3);
}
[data-theme='light'] {
  --background: #FAF2F1;
  --text_col: black;
  --overlay_lighten: #{$accent-color}15;
  --overlay_darken: #{$accent-color}5b;

  --test: #e22c785b;
}

html {
  background: var(--background);
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text_col);
  min-height: 100vh;
  .fullscreen {
    flex-grow: 1;
  } 
}

a {
  color: $accent-color;
}
.title {
  color: $accent-color;
  font-size: 20pt;
}


nav {
  text-align: center;
  padding: 30px 4px;
  position: static;
  a {
    font-weight: bold;
    color: #2c3e50;
    white-space: nowrap;
    &.active {
      color: $accent-color;
    }
  }
}
