.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .topper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .title {
      margin: 8px;
      text-align: center;
    }
    .pfp > span {
      border-radius: 100%;
      margin: 8px !important;
    }
  }
  .social {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    gap: 8px;
  }
}