@import "styles/variables.scss";
.radio {
    padding: 0px 10vw 10px 10vw;
    > div {
        padding: 15px;
        border-radius: $default-border-radius;
        background: var(--overlay_lighten);

        iframe {
            border-radius: 12px;
        }
    }
}